.cards_container {
    display: flex;
    width: 90%;
    height: 90%;
    flex-wrap: wrap;
    flex-direction: row;
    border: 3px solid rgb(169, 252, 91);
   padding: 2px;
   justify-content: space-evenly;
   overflow: hidden;
 
    } 
 
 .card {
    /* Estilos para cada tarjeta individual */
    /* Ajusta el ancho según tus necesidades */
    display: flex;
    padding: 30px;
    width: 20%;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    border: 7px solid rgb(94, 14, 76);
    border-radius: 4%;
    flex-direction: column;
    margin: 20px;
    height: 20%;

 }

 .card img{
   display: flex;
   margin: 15px;
   padding: 2%;
   width: 80%;
   border: 8px solid green;
   border-radius: 50%;
   
 }

 .card img:hover{
   border:none;
   transform: scale(1.5);
 }
 

