.Nav{
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(168, 11, 84, 0.493);
    border: 1px  solid greenyellow;
    width: 100%;
    align-items: center;
    align-content: flex-start;
    flex-direction: row-reverse
}
 .lista{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
    justify-content: space-between;
    
    
} 


