
body{
  
   background-image: url('../src/imagenes/rickandmortygreenportal.png');
   background-size: cover;

}




.App {
   display: flex;
   text-align: center;
   justify-content: space-between;
   align-items: center;
   flex-direction: column
}
